<!DOCTYPE html>
<html lang="ja" class="h-100">
{{template "head" .}}
<body class="d-flex flex-column h-100">
  {{template "header"}}
  <main>
    <div class="container">
      <div class="card mt-2 text-white bg-danger">
        <div class="card-header">
          延滞通知
        </div>
        <div class="card-body text-dark bg-white">
          延滞してるから早く返せ
        </div>
      </div>
      <div class="card mt-2 text-white bg-theme">
        <div class="card-header">
          人気のタグ
        </div>
        <div class="card-body text-dark bg-white">
          人気のタグが表示される
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex mt-4">
        <form class="d-flex justify-content-end align-items-center" style="width: 100%">
          <div class="d-flex align-items-center">
            <label class="me-2" style="white-space: nowrap;">並び替え</label>
            <select class="form-select me-4" aria-label="sort select">
              <option value="1" selected>新着順</option>
              <option value="2">五十音順</option>
              <option value="3">貸出回数</option>
            </select>
          </div>
          <div class="form-check me-4">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked" style="white-space: nowrap;">
              貸出中の備品を表示する
            </label>
          </div>
          <div class="btn-group" role="group" aria-label="Button group">
            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="option1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
              </svg>
            </label>
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-outline-dark" for="option2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
            </label>
          </div>
        </form>
      </nav>
      <h1>Hello, {{.Greet}}</h1>
    </div>
  </main>
  {{template "footer"}}
</body>
</html>