name: CI

on:
  push:
    branches:
    - main
    - develop
  pull_request:

jobs:
  unit-tests:
    name: Unit tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: go build ./...
      - run: go test ./...
